@*  Index.cshtml.cs
  *  Version: 1.0 (2022.09.10)
  *
  *  Contributor
  *      Arime-chan
*@

@page
@using Project24
@using Project24.Pages.CútomerManagement
@using System.Globalization
@model IndexModel

@{
  ViewData["Title"] = "Quản lý bệnh nhân";
  Layout = "_Layout";

  bool isPower = User.IsInRole(Constants.ROLE_POWER);
  bool isManagerOrHigher = isPower || User.IsInRole(Constants.ROLE_ADMIN) || User.IsInRole(Constants.ROLE_MANAGER);
}

<h1>Danh sách bệnh nhân</h1>

<form method="get">
  <button type="submit" asp-page="./Create" class="btn btn-primary">Đăng ký bệnh nhân mới</button>
</form>

@if (!isManagerOrHigher)
{
  <div class="text-danger font-weight-bold">Chú ý:</div>
  <div class="text-danger">Không sử dụng chức năng này trừ khi có hướng dẫn từ quản lý. Hãy sử dụng chức năng "Thêm hồ sơ bệnh án".</div>
}
<br>

<h5>Tổng số bệnh nhân: <span class="font-weight-bold">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Data.Customers.Count)</span></h5>

<table class="table">
  <thead>
    <tr>
      <th>Mã bệnh nhân</th>
      <th>Họ và Tên</th>
      <th>Địa chỉ</th>
      <th>Số điện thoại</th>
      <th>Cập nhật lần cuối</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var customer in Model.Data.Customers)
    {
      <tr>
        <td>@customer.CustomerCode</td>
        <td>@Utils.ConstructFullName(customer.FirstMidName, "", customer.LastName)</td>
        <td>@customer.Address</td>
        <td>@customer.PhoneNumber</td>
        <td>@customer.UpdatedDate</td>
        <td>
          <form>
            <button type="submit" asp-page="./AddUser" class="btn btn-primary" disabled>Chi tiết</button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>
