@*  Identity/Account/Manage/Index.cshtml
    *  Version: 1.1 (2022.12.12)
    *
    *  Contributor
    *      Arime-chan
*@

@page
@using Project24.App.Utils
@model IndexModel
@{
    ViewData["Title"] = "Tổng quan";
    ViewData["ActivePage"] = ManageNavPages.Index;

    string dashboardAccess = "";
    if (Model.Profile.Access.DashboardAccess == P24RoleClaimUtils.AccessAllowance.NoAccess)
        dashboardAccess += "???: ";
    else 
        dashboardAccess += "Dashboard: ";

}

<h4>@ViewData["Title"]</h4>
<hr />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <div class="row font-weight-normal ml-3" style="font-size: x-large">@Model.Profile.Username</div>
        <hr />

        <dl class="row">
            <dt class="col-4">Phân quyền:</dt>
            <dd class="col-8">@string.Join(", ", @Model.Profile.Roles)</dd>

            <dt class="col-4">Quyền truy cập:</dt>
            <dd class="col-8">
                @IndexModel.GetAccessAllowanceHtmlString(P24RoleClaimUtils.Module.Dashboard, Model.Profile.Access.DashboardAccess)
                @IndexModel.GetAccessAllowanceHtmlString(P24RoleClaimUtils.Module.P24_ClinicManager, Model.Profile.Access.ClinicManagerAccess)
                @IndexModel.GetAccessAllowanceHtmlString(P24RoleClaimUtils.Module.P24b_Nas, Model.Profile.Access.NasAccess)
            </dd>
        </dl>
        <hr />

        <dl class="row">
            <dt class="col-4">Ngày tạo:</dt>
            <dd class="col-8">@Model.Profile.JoinedDate</dd>
        </dl>
        <hr />

        <dl class="row">
            @IndexModel.GetUploadDataHtmlString(P24RoleClaimUtils.Module.P24_ClinicManager, Model.Profile.Access.ClinicManagerAccess, Model.Profile.ClinicManagerUploads.BytesCount)
            @IndexModel.GetUploadDataHtmlString(P24RoleClaimUtils.Module.P24b_Nas, Model.Profile.Access.NasAccess, Model.Profile.NasUploads.BytesCount)
        </dl>


    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}