@*  Login.cshtml
  *  Version: 1.1 (2022.10.03)
  *
  *  Contributor
  *      Arime-chan
*@

@page

@model Project24.Pages.Home.LoginModel
@{
  ViewData["Title"] = "Login";
  Layout = "_HomeLayout";
}

<div class="d-flex align-items-center justify-content-center">
  <div style="max-width: 1366px">

    <h5>Nếu bạn chưa có tài khoản, vui lòng liên hệ với quản lý.</h5>
    <hr />

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.ErrorMessage
      </div>
    }

    <form id="account" method="post">

      <div class="form-group row">
        <label asp-for="Data.Username" class="col-lg-3 align-bottom">Tên đăng nhập</label>
        <input asp-for="Data.Username" class="col-lg-7 form-control" />
        <span asp-validation-for="Data.Username" class="text-danger"></span>
      </div>

      <div class="form-group row">
        <label asp-for="Data.Password" class="col-lg-3 align-bottom">Mật khẩu</label>
        <input asp-for="Data.Password" class="col-lg-7 form-control" />
        <span asp-validation-for="Data.Password" class="text-danger"></span>
      </div>

      <div class="form-group row">
        <div class="col-lg-3"></div>
        <div class="checkbox col-lg-7">
          <label asp-for="Data.RememberLogin">
            <input asp-for="Data.RememberLogin" />
            Lưu phiên đăng nhập
          </label>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-3"></div>
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
      </div>

      <div class="form-group row">
        <div class="col-lg-3"></div>
        <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
      </div>
      
      <div asp-validation-summary="All" class="text-danger"></div>

    </form>

  </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

@*



  <h1>@ViewData["Title"]</h1>
  <h4>Đăng nhập bằng tài khoản nhân viên.</h4>
  <hr />








  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Project24</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  </head>
  <body>
  <header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container">
  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project24</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
  <partial name="_LoginPartial" />
  <ul class="navbar-nav flex-grow-1">
  </ul>
  </div>
  </div>
  </nav>
  </header>
  <div class="container">
  <main role="main" class="pb-3">

  <div class="app-title">
  <br />
  <h1>PHẦN MỀM QUẢN LÝ PHÒNG KHÁM</h1>
  <h3>PK Số 7 Văn Cao (Ví dụ)</h3>
  <br />
  <hr />
  </div>

  <br />


  @RenderBody()
  </main>
  </div>

  <footer class="border-top footer text-muted">
  <div class="container">
  &copy; 2022 - Project24 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
  </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
  </body>
  </html>

*@

