@*  P24/_CommonListImage.cshtml
    *  Version: 1.2 (2023.01.07)
    *
    *  Contributor
    *      Arime-chan
*@

@using Project24.App
@model Project24.Models.ClinicManager.DataModel.P24ImageListingModel
@{ bool hasImage = Model.Images != null && Model.Images.Count > 0;

    string deleteImageFunc = "";
    if (Model.Module == P24Module.Customer)
    {
        deleteImageFunc = "customer_commonListImage_DeleteCustomerImage('{0}')";
    }
    else if (Model.Module == P24Module.Ticket)
    {
        deleteImageFunc = "customer_commonListImage_DeleteTicketImage('{0}')";
    }
}

@if (hasImage || !Model.IsReadonly)
{
    <div class="mb-2" style="font-size:large; font-weight:500!important">Ảnh (@Model.Images.Count ảnh)</div>
}

@if (!Model.IsReadonly)
{
    <div class="dropdown">
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown">Thêm ảnh</button>
        <div class="dropdown-menu px-4 py-2" style="width:55ch">
            <form method="post" asp-page="Create" asp-page-handler="CreateImage" enctype="multipart/form-data" id="add-image-form" style="@ViewData["AddImgFormStyles0"]">
                <div class="form-group" hidden>
                    <input asp-for="_formData.OwnerCode" class="form-control" value="@Model.OwnerCode" readonly/>
                    <span asp-validation-for="_formData.OwnerCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="_formData.UploadedFiles" class="control-label">Ảnh (nhiều file, tối đa 32 MB)</label>
                    <input asp-for="_formData.UploadedFiles" accept="image/*" class="form-control" />
                    <span asp-validation-for="_formData.UploadedFiles" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <button type="submit" class="btn btn-sm btn-primary">Thêm</button>
                    <button type="reset" class="btn btn-sm btn-secondary">Hủy bỏ</button>
                </div>

                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
}

@if (hasImage)
{
    <div class="d-flex flex-wrap">

        @foreach (var image in Model.Images)
        {
            string path = "/" + image.Path + "/" + image.Name;
            string fullpath = "/data" + path;

            <figure class="figure m-2">
                <img src="@fullpath" class="figure-img img-fluid" style="max-height:200px" />
                <figcaption class="figure-caption">@image.Name</figcaption>

                @if (!Model.IsReadonly)
                {
                    // delete button;
                    <a href="#" onclick="@string.Format(deleteImageFunc, image.Id)">Xóa</a>
                }
            </figure>
        }

    </div>
}
