@*  P24/_CommonQuickSearch.cshtml
    *  Version: 1.2 (2023.01.29)
    *
    *  Contributor
    *      Arime-chan
*@

@model Project24.Models.ClinicManager.DataModel.QuickSearchFormDataModel
@{
    string today = DateTime.Now.ToString("yyyy-MM-dd");

    string startDate = "";
    string endDate = "";

    if (Model.StartDate != DateTime.MinValue && Model.StartDate != P24Constants.MinDate)
        startDate = Model.StartDate.ToString("yyyy-MM-dd");

    if (Model.EndDate != DateTime.MinValue && Model.EndDate != DateTime.Today)
        endDate = Model.EndDate.ToString("yyyy-MM-dd");

    string formGroupClasses = "form-group row align-items-baseline ml-0 mb-1";
    string labelClasses = "control-label col-3 px-0";
    string controlClasses = "form-control col-9";
}

<div class="dropdown">
    <button type="button" class="btn btn-secondary mx-2 dropdown-toggle" data-toggle="dropdown">Tìm kiếm</button>
    <div class="dropdown-menu px-4 py-2" style="width:55ch">
        <form method="get" asp-page-handler="Search" enctype="application/x-www-form-urlencoded">
            <div class="@formGroupClasses">
                <label class="@labelClasses">Từ ngày..</label>
                <input class="@controlClasses" name="_startDate" type="date" value="@startDate" min="2000-01-01" max="@today" />
            </div>
            <div class="@formGroupClasses">
                <label class="@labelClasses">.. đến ngày</label>
                <input class="@controlClasses" name="_endDate" type="date" value="@endDate" min="2000-01-01" max="@today" />
            </div>
            <div class="@formGroupClasses">
                <label class="@labelClasses">Tên</label>
                <input class="@controlClasses" name="_name" placeholder="Chỉ cần nhập Tên" value="@Model.Name" />
            </div>
            <div class="@formGroupClasses">
                <label class="@labelClasses">SĐT</label>
                <input class="@controlClasses" name="_phone" placeholder="Có thể nhập một phần SĐT" value="@Model.PhoneNumber" />
            </div>
            <div class="@formGroupClasses">
                <label class="@labelClasses">Địa chỉ</label>
                <input class="@controlClasses" name="_addr" placeholder="Có thể nhập một phần địa chỉ" value="@Model.Address" />
            </div>

            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                <a asp-page="List" class="btn btn-secondary">Hủy bỏ</a>
            </div>
        </form>
    </div>
</div>
