@*  Delete.cshtml
    *  Version: 1.0 (2022.10.09)
    *
    *  Contributor
    *      Arime-chan
*@

@page
@model Project24.Pages.ClinicManager.DeleteModel

@{
    ViewData["Title"] = "Xoắ bệnh nhân";
    Layout = "_CMLayout";
}

<h3>Bạn có chắc chắn muốn xóa hoàn toàn thông tin bệnh nhân sau?</h3>
<h6 class="text-danger">Chú ý: Thông tin đã xóa không thể khôi phục. Ảnh cũng sẽ bị xóa hoàn toàn.</h6>

<br />

<form method="post">
    <input type="hidden" asp-for="CustomerProfile.CustomerCode" />
    <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> |
    <a asp-page="./Index">Trở lại danh sách</a>
</form>

<br />
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">Mã bệnh nhân:</dt>
        <dd class="col-sm-10">@Model.CustomerProfile.CustomerCode</dd>

        <dt class="col-sm-2">Họ và Tên bệnh nhân:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CustomerProfile.FullName)</dd>

        <dt class="col-sm-2">Địa chỉ:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CustomerProfile.Address)</dd>

        <dt class="col-sm-2">Số điện thoại:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CustomerProfile.PhoneNumber)</dd>

        <dt class="col-sm-2">Ngày đăng ký:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CustomerProfile.AddedDate) (bởi @Html.DisplayFor(model => model.CustomerProfile.AddedUser.UserName))</dd>

        <dt class="col-sm-2">Cập nhật lần cuối:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CustomerProfile.UpdatedDate) (bởi @Html.DisplayFor(model => model.CustomerProfile.UpdatedUser.UserName))</dd>
    </dl>

    @if (Model.CustomerImages != null && Model.CustomerImages.Count > 0)
    {
        <br />
        <h5 class="text-bold">@Model.CustomerImages.Count ảnh</h5>
        <hr />
        <div class="d-flex flex-wrap">
            @foreach (Project24.Models.CustomerImageDev image in Model.CustomerImages)
            {
                <figure class="figure m-2">
                    <img src="@string.Concat("../../data/", image.Filepath)" class="figure-img img-fluid" style="max-height:200px;" />
                    <figcaption class="figure-caption">@image.Filepath</figcaption>
                </figure>
            }
        </div>
    }

</div>
