@*  Details.cshtml
    *  Version: 1.5 (2022.10.22)
    *
    *  Contributor
    *      Arime-chan
*@

@page "{_code?}/{_mode?}"
@using Project24.App
@model Project24.Pages.ClinicManager.DetailsModel

@{
    ViewData["Title"] = "Chi tiết thông tin bệnh nhân";
    Layout = "_Layout";

    string dirRoot = System.IO.Directory.GetDirectoryRoot(AppUtils.AppRoot);
    string dataRoot = System.IO.Path.GetFullPath(AppUtils.AppRoot + "/" + AppConfig.DataRoot);
}

<h1>@ViewData["Title"]</h1>

<div class="position-static">
    <hr />

    @if ((string)TempData["Error"] == "true")
    {
        <h3 class="text-danger">Có lỗi xảy ra khi tìm kiếm bệnh nhân '@TempData["CustomerCode"]'</h3>
    }
    else if (Model.CustomerProfile == null)
    {
        <h3 class="text-danger">Không tìm thấy bệnh nhân có mã '@TempData["CustomerCode"]'</h3>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Mã bệnh nhân:</dt>
            <dd class="col-sm-10">@Model.CustomerProfile.CustomerCode</dd>

            <dt class="col-sm-2">Họ và Tên bệnh nhân:</dt>
            <dd class="col-sm-10">@Model.CustomerProfile.FullName</dd>

            <dt class="col-sm-2">Địa chỉ:</dt>
            <dd class="col-sm-10">@Model.CustomerProfile.Address</dd>

            <dt class="col-sm-2">Số điện thoại:</dt>
            <dd class="col-sm-10">@Model.CustomerProfile.PhoneNumber</dd>

            <dt class="col-sm-2">Ghi chú:</dt>
            <dd class="col-sm-10">@Model.CustomerProfile.Notes</dd>

            <dt class="col-sm-2">Ngày đăng ký:</dt>
            <dd class="col-sm-10">@Model.CustomerProfile.AddedDate (bởi @Model.CustomerProfile.AddedUser.UserName)</dd>

            <dt class="col-sm-2">Cập nhật lần cuối:</dt>
            <dd class="col-sm-10">@Model.CustomerProfile.UpdatedDate (bởi @Model.CustomerProfile.UpdatedUser.UserName)</dd>
        </dl>

        <hr />
        <div>
            <a asp-page="./Edit" asp-route-_code="@Model.CustomerProfile.CustomerCode">Chỉnh sửa</a> |
            <a asp-page="./Index">Trở về danh sách</a>
        </div>
        <br>
        <div>
            <a asp-page="./Delete" asp-route-_code="@Model.CustomerProfile.CustomerCode" class="text-danger font-weight-bold">Xóa thông tin bệnh nhân</a>
        </div>

        <br />
        @if (Model.CustomerImages == null || Model.CustomerImages.Count <= 0)
        {
            <h5 class="text-bold"><a onclick="toggleAddImageForm()" href="#">Thêm ảnh</a></h5>
        }
        else
        {
            <h5 class="text-bold">Ảnh (@Model.CustomerImages.Count ảnh) | <a onclick="toggleAddImageForm()" href="#">Thêm ảnh</a></h5>
        }

        <form method="post" enctype="multipart/form-data" id="add-image-form" style="@ViewData["AddImgFormStyle"]">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Data.CustomerCode" class="form-control" value="@Model.CustomerProfile.CustomerCode" hidden readonly />
                <span asp-validation-for="Data.CustomerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.FileUploads" class="control-label"></label>
                <input asp-for="Data.FileUploads" class="form-control" />
                <span asp-validation-formaction="Data.FileUploads" class="text-danger"></span>
            </div>

            <hr />
            <div class="form-group" hidden>
                <label asp-for="Data.ManagerPassword" class="control-label">Xác nhận Mật khẩu người quản lý</label>
                <input asp-for="Data.ManagerPassword" class="form-control" />
                <span asp-validation-for="Data.ManagerPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Thêm</button>
            <button type="reset" onclick="hideAddImageForm()" class="btn btn-secondary">Hủy bỏ</button>

            @Html.AntiForgeryToken()
        </form>


        @if (Model.CustomerImages != null && Model.CustomerImages.Count > 0)
        {
            <hr />

            <div class="d-flex flex-wrap">
                @foreach (Project24.Models.CustomerImage image in Model.CustomerImages)
                {
                    <figure class="figure m-2">
                        <img src="@string.Concat("/data", image.Filepath)" class="figure-img img-fluid" style="max-height:200px;" />
                        <figcaption class="figure-caption">@image.Filepath</figcaption>
                        <a href="" onclick="@string.Concat("sendAjaxRequestForDeletingImage('" + Model.CustomerProfile.CustomerCode + "', '" + image.Id + "')")">Xóa</a>
                    </figure>
                }
            </div>
        }
    }

</div>

@section Scripts {
<script type="text/javascript">
    function toggleAddImageForm() {
        $('#add-image-form').toggle();
    }

    function hideAddImageForm() {
        $('#add-image-form').hide();
    }

    function sendAjaxRequestForDeletingImage(_customerCode, _imageId) {
        var token = $("input[name='__RequestVerificationToken']").val();

        $.ajax({
            type: 'POST',
            url: '/ClinicManager/DeleteImage',
            headers: {
                "RequestVerificationToken": token
            },
            data: JSON.stringify({
                CustomerCode: _customerCode,
                ImageId: _imageId
            }),
            contentType: "application/json; charset=utf-8",
            processData: false,
            success: function(_returnMsg) {
                console.log("DeleteImage returns " + _returnMsg)
                //location.reload();
            },
            error: function() { window.alert("Error!"); }
        });

    }
</script>

@*<script src="~/js/userManager-addUser.js"></script>*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
