@*  Edit.cshtml
    *  Version: 1.1 (2022.10.21)
    *
    *  Contributor
    *      Arime-chan
*@

@page "{_code?}"
@model Project24.Pages.ClinicManager.EditModel

@{
    ViewData["Title"] = "Sửa thông tin";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h5><a asp-page="./Index">Trở lại danh sách</a></h5>
</div>

<hr />

@if ((string)TempData["Error"] == "error")
{
    <h3 class="text-danger">Có lỗi xảy ra khi tìm kiếm bệnh nhân '@TempData["CustomerCode"]'</h3>
}
else if ((string)TempData["Error"] == "deleted")
{
    <h3 class="text-danger">Bệnh nhân '@TempData["CustomerCode"]' đã bị xóa khỏi CSDL</h3>

    <h5 class="text-danger">Ngày xóa: @TempData["DeletedOn"] (bởi @TempData["DeletedBy"])</h5>
}
else if (Model.Data == null)
{
    <h3 class="text-danger">Không tìm thấy bệnh nhân có mã '@TempData["CustomerCode"]'</h3>
}
else
{
    <div class="row">
        <div class="col-md-6">

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Data.CustomerCode" class="control-label">Mã bệnh nhân</label>
                    <input asp-for="Data.CustomerCode" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Data.FullName" class="control-label">Họ và Tên bệnh nhân</label>
                    <input asp-for="Data.FullName" class="form-control" />
                    <span asp-validation-for="Data.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Address" class="control-label">Địa chỉ</label>
                    <textarea asp-for="Data.Address" class="form-control" text-wrap="normal" rows="3"></textarea>
                    <span asp-validation-for="Data.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data.PhoneNumber" class="control-label">Số điện thoại</label>
                    <input asp-for="Data.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Data.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Data.Notes" class="control-label">Ghi chú</label>
                    <textarea asp-for="Data.Notes" class="form-control" text-wrap="normal" rows="5"></textarea>
                    <span asp-validation-for="Data.Notes" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </form>

        </div>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
