@*  Detail.cshtml
  *  Version: 1.0 (2022.09.08)
  *
  *  Contributor
  *      Arime-chan
*@

@page
@using Project24.Areas.ServiceManagement.Pages
@using System.Globalization
@model DetailModel

@{
  ViewData["Title"] = "Chi tiết dịch vụ";
  Layout = "_Layout";

}

<h1>@ViewData["Title"]</h1>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (Model.Data == null || Model.Data.Service == null)
{
  <h5 class="text-danger">@Constants.ERROR_NOT_FOUND_SERVICE</h5>
}
else
{
  <div class="row align-content-center">
    <div class="col-md-4 text-right font-weight-bold">Mã dịch vụ</div>
    <div class="col-md-8 ">@Model.Data.Service.ServiceCode</div>
  </div>
  <br />

  <div class="row align-content-center">
    <div class="col-md-4 text-right font-weight-bold">Tên dịch vụ</div>
    <div class="col-md-8 ">@Model.Data.Service.Name</div>
  </div>
  <br />

  <div class="row align-content-center">
    <div class="col-md-4 text-right font-weight-bold">Giá dịch vụ</div>
    <div class="col-md-8 ">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,###} VND", Model.Data.Service.Price)</div>
  </div>
  <br />

  <div class="row align-content-center">
    <div class="col-md-4 text-right font-weight-bold">Ngày tạo</div>
    <div class="col-md-8 ">@Model.Data.Service.AddedDate</div>
  </div>
  <br />

  <div class="row align-content-center">
    <div class="col-md-4 text-right font-weight-bold">Cập nhật gần đây</div>
    <div class="col-md-8 ">@Model.Data.Service.UpdatedDate</div>
  </div>
  <br />

  <hr>
  <div class="col-md-8">
    <div class="text-center">
      <button type="button" onclick="location.href='/ServiceManagement/Update?_id=@Model.Data.Service.Id'" class="btn btn-primary">@Constants.BTN_UPDATE</button>
      <button type="button" onclick="location.href='/ServiceManagement/Index'" class="btn btn-secondary">@Constants.BTN_RETURN</button>
    </div>
  </div>

}
