@*  P24/Customer/Delete.cshtml
    *  Version: 1.2 (2022.11.28)
    *
    *  Contributor
    *      Arime-chan
*@

@page

@model Project24.Pages.ClinicManager.Customer.DeleteModel
@{
    ViewData["Title"] = "Xóa bệnh nhân";
    Layout = "_Layout";

    string age = (DateTime.Now.Year - Model.CustomerViewData.DoB) + "t";
    bool deleted = false;
}

<h1>@ViewData["Title"]</h1>
<a asp-page="List">Trở về danh sách</a>
<!--partial name="_StatusMessage" model="Model.StatusMessage" /-->
<hr />

@if (Model.CustomerViewData.DeletedDate != DateTime.MinValue)
{
    deleted = true;

    <div class="text-danger font-weight-bold" style="font-size: larger;">
        Bệnh nhân <code>@Model.CustomerViewData.Code</code> đã bị xóa vào ngày @Model.CustomerViewData.DeletedDate.
    </div>
    <br />
}

<dl class="row">
    <dt class="col-sm-2">Mã bệnh nhân:</dt>
    <dd class="col-sm-10">@Model.CustomerViewData.Code</dd>

    <dt class="col-sm-2">Họ và Tên bệnh nhân:</dt>
    <dd class="col-sm-10">@Model.CustomerViewData.Fullname</dd>

    <dt class="col-sm-2">Giới tính:</dt>
    <dd class="col-sm-10">@Model.CustomerViewData.Gender</dd>

    <dt class="col-sm-2">Năm sinh:</dt>
    <dd class="col-sm-10">@Model.CustomerViewData.DoB (@age)</dd>

    <dt class="col-sm-2">Địa chỉ:</dt>
    <dd class="col-sm-10">@Model.CustomerViewData.Address</dd>

    <dt class="col-sm-2">Số điện thoại:</dt>
    <dd class="col-sm-10">@Model.CustomerViewData.PhoneNumber</dd>

    <dt class="col-sm-2">Ghi chú:</dt>
    <dd class="col-sm-10">@Model.CustomerViewData.Notes</dd>

    <dt class="col-sm-2">Ngày đăng ký:</dt>
    <dd class="col-sm-10">@Model.CustomerViewData.AddedDate (bởi @Model.CustomerViewData.AddedUserName)</dd>

    <dt class="col-sm-2">Cập nhật lần cuối:</dt>
    <dd class="col-sm-10">@Model.CustomerViewData.UpdatedDate (bởi @Model.CustomerViewData.UpdatedUserName)</dd>
</dl>

@if (!deleted)
{
    <div class="row">
        <form method="post">
            <input asp-for="CustomerCode" class="form-control" value="@Model.CustomerViewData.Code" readonly hidden />
            <span asp-validation-for="CustomerCode" class="text-danger" hidden></span>

            <button type="submit" class="btn btn-danger mr-1">Xóa bệnh nhân</button>
            <a asp-page="List" class="btn btn-secondary">Hủy bỏ</a>

            @Html.AntiForgeryToken()
        </form>
    </div>
    <hr />
}

<div id="list-image">
    <partial name="_CommonListImage" model="@Model.ListImageModel" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
