@*  P24/Customer/List.cshtml
    *  Version: 1.6 (2023.02.13)
    *
    *  Contributor
    *      Arime-chan
*@

@page "{handler?}"

@using System.Globalization
@model Project24.Pages.ClinicManager.Customer.ListModel
@{
    ViewData[CustomInfoKey.Language] = CustomInfoKey.Lang_Vi_VN;
    ViewData["Title"] = "Danh sách bệnh nhân";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-page="Create" class="btn btn-primary mr-1">Thêm bệnh nhân mới</a>
    <a href="#" class="btn btn-secondary" hidden>Bổ sung bệnh nhân cũ</a>
</div>
<hr />

<partial name="ClinicManager/_CommonQuickSearch" model="Model.SearchFormData" />
<hr />
<br />

<div class="" style="font-size: x-large">
    @if (Model.IsSearchMode)
    {
        <span>Tìm thấy <span class="font-weight-bold">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Customers.Count)</span> bệnh nhân</span>
    }
    else
    {
        <span>Tổng số bệnh nhân: <span class="font-weight-bold">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Customers.Count)</span></span>
    }
</div>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Họ và Tên</th>
            <th>SĐT</th>
            <th>Địa chỉ</th>
            <th>Ghi chú</th>
            <th class="text-center p24-table-col-ticket">Phiếu khám</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model.Customers)
        {
            int age = AppConfig.ThisYear - customer.DoB;
            <tr>
                <td class="p24-table-col-code text-break"><a asp-page="Details" asp-route-_code="@customer.Code">@customer.Code</a></td>
                <td class="p24-table-col-name">@customer.Fullname (@age)</td>
                <td class="p24-table-col-phone text-break">@customer.PhoneNumber</td>
                <td>@customer.Address</td>
                <td>@customer.Note</td>

                <td class="text-center">
                    @if (customer.TicketCount <= 0)
                    {
                        <div class="p24-table-col-ticket text-danger">
                            <div>0</div>
                            <div><a asp-page="/ClinicManager/Ticket/Create" asp-route-_customerCode="@customer.Code">Thêm</a></div>
                        </div>
                    }
                    else
                    {<div class="p24-table-col-ticket">
                            <div>@customer.TicketCount</div>
                            <div>
                                <a asp-page="/ClinicManager/Ticket/List" asp-page-handler="Search" asp-route-_code="@customer.Code">Xem</a> |
                                <a asp-page="/ClinicManager/Ticket/Create" asp-route-_customerCode="@customer.Code">Thêm</a>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.IsSearchMode)
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".collapse").collapse("show");
            })
        </script>
    }
}
