@*  Create.cshtml.cs
  *  Version: 1.0 (2022.09.11)
  *
  *  Contributor
  *      Arime-chan
*@

@page
@using Project24.Pages.VisitingManagement
@model CreateModel
@{
  ViewData["Title"] = "Thêm phiếu khám bệnh mới";
  Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
  <div class="col-md-6">
    <form method="post">
      <hr />
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Data.VisitingCode">Mã phiếu khám bệnh (tự động điền)</label>
        <input asp-for="Data.VisitingCode" class="form-control" value="@ViewBag.NextVisitingCode" readonly />
        <span asp-validation-for="Data.VisitingCode" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Data.CustomerName">Họ và Tên bệnh nhân</label>
        <input asp-for="Data.CustomerName" class="form-control" />
        <span asp-validation-for="Data.CustomerName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Data.Address">Địa chỉ</label>
        <textarea asp-for="Data.Address" class="form-control" text-wrap="normal" rows="4"></textarea>
        <span asp-validation-for="Data.Address" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Data.PhoneNumber">Số điện thoại</label>
        <input asp-for="Data.PhoneNumber" class="form-control" />
        <span asp-validation-for="Data.PhoneNumber" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Data.ServicesUsed">Dịch vụ (chỉ nhập mã dịch vụ)</label>
        <textarea asp-for="Data.ServicesUsed" class="form-control" text-wrap="normal" rows="2"></textarea>
        <span asp-validation-for="Data.ServicesUsed" class="text-danger"></span>
        <div class="border" style="margin-top:10px; padding:10px 10px 10px 10px">
          Danh sách dịch vụ cung cấp:
          <div style="margin-left:20px">
            @foreach (var service in (List<Tuple<string, string>>)ViewBag.AvailableServices)
            {
              <div><span class="font-weight-bold">@service.Item1</span> (@service.Item2)</div>
            }
          </div>
        </div>
      </div>

      <hr />
      <div class="form-group">
        <label asp-for="Data.ManagerPassword">Xác nhận Mật khẩu người quản lý</label>
        <input asp-for="Data.ManagerPassword" class="form-control" />
        <span asp-validation-for="Data.ManagerPassword" class="text-danger"></span>
      </div>

      <button type="submit" class="btn btn-primary">Thêm tài khoản</button>
      <button type="button" onclick="location.href='./Index'" class="btn btn-secondary">Hủy bỏ</button>

      @Html.AntiForgeryToken()
    </form>
  </div>

</div>

@section Scripts {
<script src="~/js/userManager-addUser.js"></script>
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
