@*  Index.cshtml.cs
  *  Version: 1.0 (2022.09.11)
  *
  *  Contributor
  *      Arime-chan
*@

@page
@using Project24
@using Project24.Pages.VisitingManagement
@using System.Globalization
@model IndexModel

@{
  ViewData["Title"] = "Quản lý phiếu khám bệnh";
  Layout = "_Layout";

  bool isPower = User.IsInRole(Constants.ROLE_POWER);
  bool isManagerOrHigher = isPower || User.IsInRole(Constants.ROLE_ADMIN) || User.IsInRole(Constants.ROLE_MANAGER);
}

<h1>Danh sách phiếu khám bệnh</h1>

<form method="get">
  <button type="submit" asp-page="./Create" class="btn btn-primary">Đăng ký bệnh nhân mới</button>
</form>

@if (!isManagerOrHigher)
{
  <div class="text-danger font-weight-bold">Chú ý:</div>
  <div class="text-danger">Không sử dụng chức năng này trừ khi có hướng dẫn từ quản lý. Hãy sử dụng chức năng "Thêm hồ sơ bệnh án".</div>
}
<br>

<h5>
  Tổng số phiếu hôm nay:
  <span class="font-weight-bold">
    @string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Data.VisitingsToday.Count)
  </span>
  (@DateTime.Now.ToShortDateString())
</h5>

<table class="table">
  <thead>
    <tr>
      <th>Mã phiếu</th>
      <th>Bệnh nhân</th>
      <th>Dịch vụ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var profile in Model.Data.VisitingsToday)
    {
      <tr>
        <td>@profile.Id</td>
        <td>@profile.CustomerDetails</td>
        <td>@profile.ServicesUser</td>
        <td>
          <form>
            <button type="submit" asp-page="./AddUser" class="btn btn-primary" disabled>Chi tiết</button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>

<hr />
<br />

<h5>
  Tổng số phiếu hôm qua:
  <span class="font-weight-bold">
    @string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Data.VisitingsYesterday.Count)
  </span>
  (@DateTime.Now.AddDays(-1.0).ToShortDateString())
</h5>

<table class="table">
  <thead>
    <tr>
      <th>Mã phiếu</th>
      <th>Bệnh nhân</th>
      <th>Dịch vụ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var profile in Model.Data.VisitingsYesterday)
    {
      <tr>
        <td>@profile.Id</td>
        <td>@profile.CustomerDetails</td>
        <td>@profile.ServicesUser</td>
        <td>
          <form>
            <button type="submit" asp-page="./AddUser" class="btn btn-primary" disabled style="visibility:hidden">Chi tiết</button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>
