@*  P24/Ticket/Details.cshtml
    *  Version: 1.6 (2023.02.13)
    *
    *  Contributor
    *      Arime-chan
*@

@page

@using Project24.App;
@model Project24.Pages.ClinicManager.Ticket.DetailsModel
@{
    ViewData[CustomInfoKey.Language] = CustomInfoKey.Lang_Vi_VN;
    ViewData["Title"] = "Phiếu khám";
    Layout = "_Layout";

    string age = (DateTime.Now.Year - Model.TicketViewData.Customer.DoB) + "t";
}

<h1>@ViewData["Title"]</h1>
<a asp-page="List">Trở về danh sách</a>
<!--partial name="_StatusMessage" model="Model.StatusMessage" /-->
<hr />

@if (Model.TicketViewData.Customer.DeletedDate != DateTime.MinValue)
{
    <div class="text-danger font-weight-bold" style="font-size: larger;">
        Phiếu khám <code>@Model.TicketViewData.Code</code> đã bị xóa vào ngày @Model.TicketViewData.DeletedDate.
    </div>
    <br />
}

<div class="d-flex flex-wrap">
    <div class="col-12 col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Mã phiếu khám:</dt>
            <dd class="col-sm-8">@Model.TicketViewData.Code</dd>

            <dt class="col-sm-4">Triệu chứng:</dt>
            <dd class="col-sm-8">@Model.TicketViewData.Symptom</dd>

            <dt class="col-sm-4">Chẩn đoán:</dt>
            <dd class="col-sm-8">@Model.TicketViewData.Diagnose</dd>

            <dt class="col-sm-4">Xử trí:</dt>
            <dd class="col-sm-8">@Model.TicketViewData.Treatment</dd>

            <dt class="col-sm-4">Ghi chú:</dt>
            <dd class="col-sm-8">@AppUtils.FormatHtmlDisplayForMultilineText(Model.TicketViewData.Note)</dd>

            <dt class="col-sm-4">Ngày đăng ký:</dt>
            <dd class="col-sm-8">@Model.TicketViewData.AddedDate (bởi @Model.TicketViewData.AddedUserName)</dd>

            <dt class="col-sm-4">Cập nhật lần cuối:</dt>
            <dd class="col-sm-8">@Model.TicketViewData.UpdatedDate (bởi @Model.TicketViewData.UpdatedUserName)</dd>
        </dl>
    </div>

    <div class="col-12 col-md-6">
        @* Customer quickinfo *@
        <div class="mb-2">
            <div class="font-weight-bold">
                <a href="#" data-toggle="collapse" data-target="#div-customer-view">Bệnh nhân <span class="text-success">@Model.TicketViewData.Customer.Code</span> (click để mở rộng)</a>
            </div>

            <div id="div-customer-view" class="collapse">
                <a class="ml-3" asp-page="/ClinicManager/Customer/Details" asp-route-_code="@Model.TicketViewData.Customer.Code"><i>(Xem chi tiết)</i></a>
                <ul>
                    <li>
                        @Model.TicketViewData.Customer.Fullname -
                        @Model.TicketViewData.Customer.Gender -
                        @Model.TicketViewData.Customer.DoB (@age)
                    </li>
                    <li>@Model.TicketViewData.Customer.PhoneNumber</li>
                    <li>@Model.TicketViewData.Customer.Address</li>
                    @if (!string.IsNullOrEmpty(Model.TicketViewData.Customer.Note))
                    {
                        <li>@Model.TicketViewData.Customer.Note</li>
                    }
                </ul>
            </div>

            <hr />
        </div>

        @* Drug export quickinfo *@
        <div class="mb-2">
            @if (Model.TicketViewData.DrugExportBatchId != null)
            {
                <div class="font-weight-bold">
                    <a href="#" data-toggle="collapse" data-target="#div-export-view">Phiếu tiêu hao <span class="text-success">@Model.TicketViewData.DrugExportBatchId</span> (click để mở rộng)</a>
                </div>

                <div id="div-export-view" class="collapse">
                    <a class="ml-3" asp-page="/ClinicManager/Inventory/Export/Details" asp-route-_id="@Model.TicketViewData.DrugExportBatchId">(Xem chi tiết)</a>:
                    <table class="table table-sm table-hover ml-3">
                        <thead>
                            <tr>
                                <th style="width:6ch">Mã</th>
                                <th>Tên thuốc</th>
                                <th style="width:9ch">Số lượng</th>
                                <th style="width:8ch">Đơn vị</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var export in Model.DrugExportList)
                            {
                                <tr>
                                    <td>@export.Id</td>
                                    <td>@export.Name</td>
                                    <td>@export.Amount</td>
                                    <td>@export.Unit</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="font-weight-bold">
                    <a asp-page="/ClinicManager/Inventory/Export/Create" asp-route-_ticketCode="@Model.TicketViewData.Code" class="btn btn-primary">Thêm phiếu tiêu hao</a>
                </div>
            }
            <hr />
        </div>

    </div>
</div>

@if (Model.TicketViewData.Customer.DeletedDate == DateTime.MinValue)
{
    <div class="row">
        <a asp-page="Edit" asp-route-_code="@Model.TicketViewData.Code" class="btn btn-primary mr-2">Chỉnh sửa</a>
        <a asp-page="Delete" asp-route-_code="@Model.TicketViewData.Code" class="text-danger font-weight-bold ml-2 my-auto">Xóa phiếu khám bệnh</a>
    </div>

    <div class="row">
    </div>
}
<br />

<div id="list-image">
    <partial name="_CommonListImage" model="@Model.ListImageModel" />
</div>

<partial name="_CommonListImage_Modal" model="@Model.ListImageModel" />

@section Stylesheets {
    <link rel="stylesheet" href="~/css/nas/nas.css" />
}

@section Scripts {
    <script src="~/js/modal/modal.js"></script>
    <script src="~/js/clinic-manager/clinic-manager-utils.js"></script>
}
