@*  P24/Ticket/List.cshtml
    *  Version: 1.7 (2023.02.13)
    *
    *  Contributor
    *      Arime-chan
*@

@page "{handler?}"

@using System.Globalization
@model Project24.Pages.ClinicManager.ListModel
@{
    ViewData[CustomInfoKey.Language] = CustomInfoKey.Lang_Vi_VN;
    ViewData["Title"] = "Danh sách phiếu khám";
    Layout = "_Layout";

    string thisPageUrl = Url.RouteUrl(ViewContext.RouteData.Values);
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-page="Create" class="btn btn-primary">Thêm phiếu khám mới</a>
    <a href="#" class="btn btn-secondary" hidden>Bổ sung phiếu khám cũ</a>
</div>
<hr />

<partial name="ClinicManager/_CommonQuickSearch" model="Model.SearchFormData" />
<hr />
<br />

<div class="" style="font-size: x-large">
    @if (Model.IsSearchMode)
    {
        <span>Tìm thấy <span class="font-weight-bold">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Tickets.Count)</span> phiếu khám</span>
    }
    else
    {
        <span>Tổng số phiếu: <span class="font-weight-bold">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Tickets.Count)</span></span>
    }
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Họ Tên bệnh nhân</th>
            <th>Chẩn đoán - Xử trí</th>
            <th>Ghi chú</th>
            <th class="text-center p24-table-col-ticket">Tiêu hao</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var ticket in Model.Tickets)
        {
            int age = AppConfig.ThisYear - ticket.CustomerDoB;
            <tr>
                <td class="p24-table-col-code text-break"><a asp-page="Details" asp-route-_code="@ticket.Code">@ticket.Code</a></td>
                <td class="p24-table-col-name">@ticket.CustomerFullName (@age)</td>
                <td class="p24-table-col-diag">@ticket.Diagnose: @ticket.Treatment</td>
                <td>@ticket.Notes</td>

                <td class="text-center">
                    @if (ticket.DrugExportBatchId.HasValue)
                    {
                        <div class="p24-table-col-ticket"><a asp-page="/ClinicManager/Inventory/Export/Details" asp-route-_id="@ticket.DrugExportBatchId"><b>Có</b></a></div>
                    }
                    else
                    {
                        <div class="text-danger p24-table-col-ticket">
                            <div>Không</div>
                            <div>(<a asp-page="/ClinicManager/Inventory/Export/Create" asp-route-_ticketCode="@ticket.Code">Thêm</a>)</div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.IsSearchMode)
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".collapse").collapse("show");
            })
        </script>
    }
}

