@*  List.cshtml
    *  Version: 1.4 (2023.01.02)
    *
    *  Contributor
    *      Arime-chan
*@

@page "{handler?}"

@using System.Globalization
@model Project24.Pages.ClinicManager.ListModel
@{
    ViewData[CustomInfoKey.Language] = CustomInfoKey.Lang_Vi_VN;
    ViewData["Title"] = "Danh sách phiếu khám";
    Layout = "_Layout";

    string thisPageUrl = Url.RouteUrl(ViewContext.RouteData.Values);
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-page="Create" class="btn btn-primary">Thêm phiếu khám mới</a>
    <a href="#" class="btn btn-secondary" hidden>Bổ sung phiếu khám cũ</a>
</div>
<hr />

<partial name="ClinicManager/_CommonQuickSearch" model="Model.SearchFormData" />
<hr />
<br />

<div class="" style="font-size: x-large">
    @if (Model.IsSearchMode)
    {
        <span>Tìm thấy <span class="font-weight-bold">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Tickets.Count)</span> phiếu khám</span>
    }
    else
    {
        <span>Tổng số phiếu: <span class="font-weight-bold">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Tickets.Count)</span></span>
    }
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th style="width:12ch">Mã</th>
            <th style="width:25ch">Họ Tên bệnh nhân</th>
            <th style="width:50ch">Chẩn đoán - Xử trí</th>
            <th style="width:9ch">Tiêu hao</th>
            <th style="">Ghi chú</th>
            <th style="width:20ch"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var ticket in Model.Tickets)
        {
            int age = AppConfig.ThisYear - ticket.CustomerDoB;
            <tr>
                <td>@ticket.Code</td>
                <td>@ticket.CustomerFullName (@age)</td>
                <td>@ticket.Diagnose: @ticket.Treatment</td>

                <td class="text-center">
                    @if (ticket.DrugExportBatchId.HasValue)
                    {
                        <div>Có</div>
                        <div>(<a asp-page="/ClinicManager/Inventory/Export/Details" asp-route-_ticketCode="@ticket.Code" asp-route-_returnUrl="@thisPageUrl" hidden>Xem</a>)</div>
                    }
                    else
                    {
                        <div class="text-danger">
                            <div>Không</div>
                            <div>(<a asp-page="/ClinicManager/Inventory/Export/Create" asp-route-_ticketCode="@ticket.Code" asp-route-_returnUrl="@thisPageUrl">Thêm</a>)</div>
                        </div>
                    }
                </td>

                <td>@ticket.Notes</td>

                <td>
                    <div class="text-center">
                        <div>
                            <a asp-page="Details" asp-route-_code="@ticket.Code">Chi tiết</a> |
                            <a asp-page="Edit" asp-route-_code="@ticket.Code">Sửa thông tin</a>
                        </div>
                        <div>
                            <a asp-page="Delete" asp-route-_code="@ticket.Code" class="text-danger font-weight-bold">Xóa</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.IsSearchMode)
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".collapse").collapse("show");
            })
        </script>
    }
}

