@*  List.cshtml
    *  Version: 1.3 (2022.12.31)
    *
    *  Contributor
    *      Arime-chan
*@

@page "{handler?}"

@using System.Globalization
@model Project24.Pages.ClinicManager.ListModel
@{
    ViewData[CustomInfoKey.Language] = CustomInfoKey.Lang_Vi_VN;
    ViewData["Title"] = "Danh sách phiếu khám";
    Layout = "_Layout";

    string today = DateTime.Now.ToString("yyyy-MM-dd");
    string thisPageUrl = Url.RouteUrl(ViewContext.RouteData.Values);
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-page="Create" class="btn btn-primary">Thêm phiếu khám mới</a>
    <a href="#" class="btn btn-secondary" hidden>Bổ sung phiếu khám cũ</a>
</div>
<hr />

<h4><a data-toggle="collapse" data-target="#search-form-collapse" style="color: inherit;">Tìm kiếm (click để mở rộng)</a></h4>
<div id="search-form-collapse" class="collapse">
    <form method="get" asp-page-handler="Search" enctype="application/x-www-form-urlencoded" class="col-md-8 col-lg-6 col-xl-5">
        <div class="form-group">
            <label class="control-label">Ngày tháng</label>
            <input id="search-date" name="_date" type="date" class="form-control" value="" min="2000-01-01" max="@today" />
        </div>
        <div class="form-group">
            <label class="control-label">Tên</label>
            <input name="_name" class="form-control" value="@Model.SearchFormData.Name" />
        </div>
        <div class="form-group">
            <label class="control-label">SĐT</label>
            <input name="_phone" class="form-control" value="@Model.SearchFormData.PhoneNumber" />
        </div>
        <div class="form-group">
            <label class="control-label">Địa chỉ</label>
            <input name="_address" class="form-control" value="@Model.SearchFormData.Address" />
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        <a asp-page="List" class="btn btn-secondary">Hủy bỏ</a>
    </form>
</div>
<hr />
<br />

<div class="" style="font-size: x-large">
    @if (Model.IsSearchMode)
    {
        <span>Tìm thấy <span class="font-weight-bold">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Tickets.Count)</span> phiếu khám</span>
    }
    else
    {
        <span>Tổng số phiếu: <span class="font-weight-bold">@string.Format(CultureInfo.CreateSpecificCulture("vi-VN"), "{0:#,##0}", Model.Tickets.Count)</span></span>
    }
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th style="width:15ch">Mã</th>
            <th style="width:25ch">Họ Tên bệnh nhân</th>
            <th style="width:50ch">Chẩn đoán - Xử trí</th>
            <th style="width:20ch">Tiêu hao</th>
            <th style="">Ghi chú</th>
            <th style="width:20ch"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var ticket in Model.Tickets)
        {
            int age = AppConfig.ThisYear - ticket.CustomerDoB;
            <tr>
                <td>@ticket.Code</td>
                <td>@ticket.CustomerFullName (@age)</td>
                <td>@ticket.Diagnose: @ticket.Treatment</td>

                <td>
                    @if (ticket.DrugExportBatchId.HasValue)
                    {
                        <text>Có (<a asp-page="../Inventory/Export/Details" asp-route-_ticketCode="@ticket.Code" asp-route-_returnUrl="@thisPageUrl">Xem</a>)</text>
                    }
                    else
                    {
                        <span class="text-danger">Không (<a asp-page="../Inventory/Export/Create" asp-route-_ticketCode="@ticket.Code" asp-route-_returnUrl="@thisPageUrl">Thêm</a>)</span>
                    }
                </td>

                <td>@ticket.Notes</td>

                <td>
                    <div class="text-center">
                        <div>
                            <a asp-page="Details" asp-route-_code="@ticket.Code">Chi tiết</a> |
                            <a asp-page="Edit" asp-route-_code="@ticket.Code">Sửa thông tin</a>
                        </div>
                        <div>
                            <a asp-page="Delete" asp-route-_code="@ticket.Code" class="text-danger font-weight-bold">Xóa</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.IsSearchMode)
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".collapse").collapse("show");
            })
        </script>
    }
}

