@*  _Layout.cshtml
    *  Version: 1.4 (2023.01.17)
    *
    *  Contributor
    *      Arime-chan
*@

<!DOCTYPE html>
<html lang="en" class="@ViewData["HtmlClassOverride"]">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project24</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Stylesheets", required: false)
</head>

<body class="@ViewData["BodyClassOverride"]">
    <partial name="_Header" />
    <partial name="_ServerAnnouncement" />

    @{
        string style = "";
        if (ViewData[CustomInfoKey.UseFullWidth] != null)
            style = "max-width: 100%;";
    }

    <div class="container" style="@style">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <partial name="_FooterCommon" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
