@*  P24/Inventory/Export/Create.cshtml
    *  Version: 1.2 (2023.01.07)
    *
    *  Contributor
    *      Arime-chan
*@

@page
@model Project24.Pages.ClinicManager.Inventory.Export.CreateModel
@{
    ViewData["Title"] = "Xuất kho";
    Layout = "_Layout";

    string colClasses = "col-12 col-lg-7 col-xl-6";
    string colClassesInv = "col-12 col-lg-4 col-xl-5";
}

<h1>@ViewData["Title"] (tiêu hao)</h1>
<a href="@Model.ReturnUrl">Trở lại trang trước</a>
<!--partial name="_StatusMessage" model="Model.StatusMessage" /-->
<hr />

<div class="d-flex flex-wrap">
    <partial name="ClinicManager/Inventory/_CommonCreateAddList" model="colClasses" />

    <div class="@colClassesInv border-left border-primary ml-3" style="border-left-width:thick">

        <h3>Thông tin phiếu khám</h3>
        <div class="text-muted">Vật tư được xuất kèm phiếu khám <a id="a-ticket-code" asp-page="../../Ticket/Details" asp-route-_code="@Model.Ticket.TicketCode">@Model.Ticket.TicketCode</a></div>
        <hr />

        <div class="mb-2">
            <div><b>Bệnh nhân:</b></div>
            <div class="ml-3">@Model.Ticket.CustomerInfo</div>
        </div>

        <div class="mb-2">
            <div><b>Chẩn đoán - Xử trí:</b></div>
            <div class="ml-3">@Model.Ticket.TicketInfo</div>
        </div>

    </div>

</div>

<partial name="_Modals/_CommonInfoModal" />

@section Scripts {
    <script src="~/js/site.js"></script>
    <script src="~/js/clinic-manager/inventory-export-create.js"></script>
    <script src="~/js/modal/modal.js"></script>
}
